
@{
    ViewBag.Title = "Logout";
}

<p>
    This is the Logout page.
</p>

<p>
    <a href="@Url.Action("Welcome", "Home")">Welcome</a> |
    <a href="@Url.Action("About", "Home")">About</a> |
    <a href="@Url.Action("Contact", "Home")">Contact</a> |
    <a href="@Url.Action("Logout", "Home")">Logout</a>
</p>

